.experience-container{
    margin: 20px;
    margin-top: 100px;
}
.experience-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(0.35deg, #E3FDD4 0.16%, #FFFFFF 82.22%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    max-width: 650px;
    margin: 0 auto;
  }
  
  .experience-header {
    background: linear-gradient(180deg, #DEFFCA 0%, #9BEB6C 100%);
    padding: 12px 20px;
    text-align: center;
  }
  
  .experience-header h2 {
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
  
  .experience-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .experience-description {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .experience-achievements {
    margin: 0 0 15px 0;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .experience-links {
    margin-top: 15px;
  }
  
  .link-button {
    display: inline-flex;
    align-items: center;
    color: #42a5f5;
    text-decoration: none;
    font-size: 20px;
  }
  
  .link-button:hover {
    text-decoration: underline;
  }
  
  .link-icon {
    margin-right: 5px;
  }
  
  @media (max-width: 768px) {
    .experience-card {
      max-width: 100%;
    }
    .experience-header{

        font-size: 20px;
    }
    .experience-header h2, .experience-description, .experience-achievements, .link-button{
        font-size: 16px;
    }
  }
  