
.gradient-text {
    background: linear-gradient(180deg, #3B930C 0%, #D7FEC0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      background-clip: text;
    color: transparent;
  }
  
  .Navbar{
    display: flex;

  }
  .logo-container-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:30px;
    width: 50%;
  }
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
     gap:20px;
    width: 50%;
  }
  
  @media screen and (min-width:768px) {
   
    .links{
      padding: 0px 90px;

    }

   
    
  }

  @media screen and (max-width:768px){
    .Navbar{
      flex-direction: column;
    }
    .logo-container-nav{
      place-items: center;
    }
    .links{
      width: 100%;
      padding:  25px;
    }
  }

  .links a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color:black;
  }